@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  background-image: url("/background.jpg");
  background-size: cover;
}

.page-container {
  margin: 0 auto;
  width: 90vw;
  max-width: 1440px;
}
